{% extends "courses/layout.html" %}
{% load course_extras %}

{% block title %}{{ course.title }}{% endblock %}

{% block content %}
    <div class="row columns">
        {{ block.super }}
        <article>
            <h1 class="">{{ course.title }}</h1>

            <div class="callout secondary">
                {{ course.description|markdown_to_html }}
            </div>

            <dl>
                {% for step in steps %}
                    <dt>
                        {{ step.step_type }}: <a href="{{ step.get_absolute_url }}">
                            {{ step.title }}
                        </a>
                    </dt>
                    <dd>{{ step.description|markdown_to_html }}</dd>
                    {% if step.step_type == 'Text' %}
                        <small><i>Estimated time: {{ step.content|wordcount|time_estimate }}
                        minute{{ step.content|wordcount|time_estimate|pluralize }}
                        </i></small>
                    {% endif %}
                    {% if not forloop.last %}
                        <hr/>
                    {% endif %}
                {% endfor %}
            </dl>
        </article>

        {% if user.is_authenticated %}
            <hr>
            <a href="{% url 'courses:create_text' course_pk=course.id %}" class="button">
                New Text
            </a>

            <a href="{% url 'courses:create_quiz' course_pk=course.id %}" class="button">
                New Quiz
            </a>
        {% endif %}
    </div>
{% endblock %}